

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Source+Sans+3', Arial, Helvetica, sans-serif;
    font-size: 12px;
    background: rgb(187, 187, 187);
}

/* outline contents for layout purposes*/
.border{ 
    border: 5px dotted red;
}


/* Textiles */

h3{
    margin: 0 0 12px 0;

}

.block-text span{
    font-family: inherit;
    display: block;
}

.bold-text{
    font-weight: 700;
    font-size: 13px;
}


/* Layout */

/* General */
.container{
    margin: 0 auto;
    width: 375px;
    background: white;
}

.post-container{
    height: 545px;
}

header,
.post-info{
    display: flex;
    align-items: center;
}

.profile-img{
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

/* header */
header{
    justify-content: space-between;
    height: 67px;
    padding: 0 16px;
}

header img{
    width: 127px;
}



/* post */
.post-info{
    border-top: 1px solid rgba(198, 198, 198, 1);
    padding: 10px;
}

.post-info .profile-img{
    padding-right: 7px;
}

.post-img{
    width: inherit;
    /* is there a way to force height to be equal to width? couldnt find a clear answer */
    height: 375px; 
}

.post-content{
    margin: 21px auto 16px 10px;
}

.post-icons{
    margin: 0 0 12px 0;
}

.red-hover:hover{
    background: red;
}

.post-icons img{
    width: 23px;
    margin: 0 10px 0 0;
}


