
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Source+Sans+3', Arial, Helvetica, sans-serif;
    font-size: 12px;
    background: rgb(219, 219, 219);
}

/* outline contents for layout purposes*/
.border{ 
    border: 5px dotted red;
}


/* Textiles */

h3{
    margin: 0 0 12px 0;
}

.block-text span{
    font-family: inherit;
    display: block;
}

.bold-text{
    font-weight: 700;
    font-size: 13px;
}


/* General */
.container{
    margin: 0 auto;
    width: 375px;
    background: white;
}

header,
.post-info{
    display: flex;
    align-items: center;
}

img{
    user-select:none;
}

.profile-img{
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

/* header */
header{
    justify-content: space-between;
    height: 67px;
    padding: 0 16px;
}

header img{
    width: 127px;
}

/* post */
.post-info{
    border-top: 1px solid rgb(179, 179, 179);
    padding: 10px;
}

.post-info .profile-img{
    padding-right: 7px;
}

.post-img{
    width: inherit;
    /* is there a way to force height to be equal to width? couldnt find a clear answer */
    height: 375px; 
}

.post-content{
    margin: 21px auto 12px 10px;
}

.post-icons{
    display: flex;
    margin: 0 0 12px 0;
}
.post-icons .icon-img{
    width: 23px;
    height: 23px;
    margin: 0 10px 0 0;
}

/* Icons */
/* Unsure if there was a better way to handle changing color on hover, originally used <img> for each icon */
/* How would you have the icons stay in the hover state after they are clicked? Update to this question in js file */
#heart,
#comment,
#dm{
    background-size: cover;
    border:none;
    background-color: white;
}

#heart{
    background-image: url("images/icon-heart.png");
}
#heart:hover,
#heart:active{
    background-image: url("images/icon-heart-active.png");
}

#comment{
    background-image: url("images/icon-comment.png");
}
#comment:hover,
#comment:active{
    background-image: url("images/icon-comment-active.png");
}

#dm{
    background-image: url("images/icon-dm.png");
}
#dm:hover,
#dm:active{
    background-image: url("images/icon-dm-active.png");
}

.profile-img:hover,
#heart:hover,
#comment:hover,
#dm:hover{
    cursor: pointer;
}